.Container {
  display: flex;
  flex-direction: column;
}

.Project {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.NewProject {
  font-size: 24px;
  margin-top: 30px;
}

.Title {
  text-align: center;
  font-size: 16px;
}
