.Container {
  display: flex;
  width: 100%;
  max-width: 650px;
  flex-direction: column;
  margin: 40px 60px;
  margin-left: 140px;
}

.Project {
  display: flex;
  flex-direction: column;
}

.NewProject {
  font-size: 24px;
}

.Title {
  text-align: center;
  font-size: 16px;
}

.Setup__Option {
  color: #2963f6;
  font-size: 17px;
  margin-top: 18px;
}

th {
  color: black;
}

.inputClass {
  max-width: 75px;
}

.Setup__ProjectName {
  margin-top: 10px;
  font-size: 14px;
  color: grey;
  display: flex;
  justify-content: space-between;
}

.buttonStyle {
  margin-top: 18px;
  background-color: #2963f6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.sensorInput {
  margin-top: 5px;
}
